.card-header{
text-align: center;
background-color: rgb(250, 246, 241);



}
.navbar{
background-color: rgb(245, 222, 195);
text-align: center;

}
body{
    background-color: rgb(134, 212, 123);
    background:linear-gradient(rgb(209, 195, 195), rgb(53, 187, 104), rgb(204, 111, 111))
}



.card-container{
    display: flex;
    padding: 40px;
    margin: 10px;
    grid-template-columns: auto;
    
}
table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 2px; /* Add spacing between cells */
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: small;
  }

  th {
    background-color: #f2f2f2;
  }
  .card-container {
     /* Reverse the order of flex items */
    justify-content: space-between; /* Add space between flex items */
    width:200%;
   
    
     
  }
  .card {
     /* Set a fixed width for the card */
    margin-bottom: 1rem; /* Add margin between cards */
  }
  .card-body{
    width: 50%;
  }
  .button{
    
    background-color: #ddd;
    box-shadow:10px;
    border: none;
    justify-content: center;
    border-radius: 5px;

   
  }
.button:hover{
  color: rgb(240, 131, 131);
}